(variant {
  Init = record {
    minting_account = record { owner = principal "__MOTHER_PRINCIPAL__"; subaccount = null };
    fee_collector_account = null;
    transfer_fee = 10_000 : nat;
    decimals = opt (8 : nat8);
    max_memo_length = opt (32 : nat16);
    token_symbol = "PIKO";
    token_name = "Piko";
    metadata = vec {
      record {
        "icrc1:description";
        variant { Text = "PIKO -- independent proof-of-on-chain-work token on ICP. Not affiliated with bob.fun/BOB." };
      };
    };
    initial_balances = vec {};
    feature_flags = opt record { icrc2 = true };
    archive_options = record {
      num_blocks_to_archive = 10_000 : nat64;
      max_transactions_per_response = null;
      trigger_threshold = 20_000 : nat64;
      max_message_size_bytes = null;
      cycles_for_archive_creation = opt (1_000_000_000_000 : nat64);
      node_max_memory_size_bytes = null;
      controller_id = principal "__DEPLOYER_PRINCIPAL__";
      more_controller_ids = null;
    };
    index_principal = null;
  }
})
